.myPostsContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.postsBlock{
    width: 520px;

    /*border:1px solid navy;*/
}

.addPostForm{
    min-height: 85px;
    padding:15px 0 10px 15px;

    background-color: #ffffff;
}

.addPostForm textarea{
    width: 485px;
    outline: none;
    -moz-appearance: none;
    border:none;
    resize: none;
    overflow: auto;
    font-family:"Pump Demi Bold Let", sans-serif;
}



.posts{

}